* {
    box-sizing: border-box;
    line-height: normal;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    background-color: tomato;
    background-image: url(https://mcdn.wallpapersafari.com/medium/23/92/H7KI9n.jpg);
}

article{
    margin: 10px;
}

h1{
    font-size: 50px;
    text-align: center;
}

footer{
    font-size: 15px;
    text-align: center;
}

img{
    display: block;
    margin: auto;
    width: 33%;
}

.square{
    background-color: teal;
    border: 3px solid;
    border-color: lightgrey;
    text-align: center;
}

.square:hover{
    background-color: grey;
    transition: 0.5s;
}

#gameboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#button{
    display: block;
    margin: auto;
    background-color: white;
    border: solid;
    color: blue;
    padding: 10px;
    margin-top: 20px;
}

#button:hover{
    background-color: black;
    transition: 1s;
}